<h1>All Articles</h1>

<ul id="articles">
	<% @articles.each do |article| %>
		<li>
			<%= link_to article.title, article_path(article) %>
			<% if article.author != nil %>
				<span>by <%= article.author.username %></span>
			<% end %>
		</li>
	<% end %>
</ul>

<% if @articles.count == 0 %>
	<br><br>
	<span id="articles-notfound">No articles found</span>
<% end %>

<% if logged_in? %>
	<%= link_to "Create a New Article", new_article_path, class: "new_article" %>
<% end %>